.main-chat
  .main-chat__header
    .main-chat__header__left-box
      .main-chat__header__left-box__group-name
        test
      .main-chat__header__left-box__member-name
        Menber : masa
    .main-chat__header__right-box
      = link_to "Edit", "#"
  .main-chat__messages
    .main-chat__messages__message
      .main-chat__messages__message__about
        .main-chat__messages__message__about__user-name
          masa
        .main-chat__messages__message__about__date
          2020/4/24(Fri) 21:30:00
      .main-chat__messages__message__text
        おはよう！

    .main-chat__messages__message
      .main-chat__messages__message__about
        .main-chat__messages__message__about__user-name
          masa
        .main-chat__messages__message__about__date
          2020/4/24(Fri) 21:40:00
      .main-chat__messages__message__text
        こんばんは！

  .main-chat__footer
    = form_tag "#", class: "main-chat__footer__new-message" do
      .main-chat__footer__new-message__input-box      
        = text_field_tag "message", "", placeholder: "type a message", class: "main-chat__footer__new-message__input-box__text"           
        %label.main-chat__footer__new-message__input-box__image{for: "message_image"}
          %i.fa.fa-image
          = file_field_tag "image", id: "message_image"
      = submit_tag "Send", class: "main-chat__footer__new-message__submit-btn"
        